<!DOCTYPE html>
<html lang="pt-br">
  <%- include('../components/head.ejs', { title: 'Pagina Home'}); %>
  <body>
    <%- include('../components/header.ejs'); %>

    <div class="content" id="home">
      
      
<span>Faça o teu melhor, na condição que você tem, enquanto você não tem condições melhores, para fazer melhor ainda!</span>
<a href="sobre">Planos</a>
    </div>

  </body>
</html>
