<!DOCTYPE html>
<html lang="pt-br">
  <%- include('../components/head.ejs', { title: 'Pagina Home'}); %>
  <body>
    <%- include('../components/header.ejs'); %>

    <div class="content" id="home">
      
      
<span>Faça o teu melhor, na condição que você tem, enquanto você não tem condições melhores, para fazer melhor ainda!</span>
<a href="cadastro">inscreva-se</a>
    </div>

    <div class="content" id="planos1">
      

             <div class="tabela-preco">
      
      
          <div class="card-preco">
              <h3 class="card-preco-header">Básico</h3>
              <div class="preco"><sup>R$</sup>15<sup>/Mês</sup></div>
              <il>
                  <li>lorem</li>
                  <li>lorem</li>
                  <li>lorem</li>
                  <li>lorem</li>
                  <li>lorem</li>
                  <li>lorem</li>
              </il>
              <a href="cadastro" class="btn">assinar</a>
              
      
          </div>
      
      
          <div class="card-preco">
              <h3 class="card-preco-header">Médio</h3>
              <div class="preco"><sup>R$</sup>25<sup>/Mês</sup></div>
              <il>
                  <li>lorem</li>
                  <li>lorem</li>
                  <li>lorem</li>
                  <li>lorem</li>
                  <li>lorem</li>
                  <li>lorem</li>
      
              </il>
              <a href="cadastro" class="btn">assinar</a>
      
          </div>
      
      
          <div class="card-preco">
              <h3 class="card-preco-header">Master</h3>
              <div class="preco"><sup>R$</sup>50<sup>/Mês</sup></div>
              <il>
                  <li>lorem</li>
                  <li>lorem</li>
                  <li>lorem</li>
                  <li>lorem</li>
                  <li>lorem</li>
                  <li>lorem</li>
      
              </il>
              <a href="cadastro" class="btn">assinar</a>
      
          </div>
      
      </div>
   
  </body>
</html>
