<!DOCTYPE html>
<html lang="en">
  <%- include('../components/head.ejs', { title: 'Pagina Sobre'}); %>
  <body>
    <%- include('../components/header.ejs'); %>
    <div class="content">
      <div class="about">
        <h1> William Shakespeare</h1>
        <div class="info">
          <p>
            “Quantos súbditos meus dormem tranquilos a estas horas! Ó sono! Ó gentil sono! Ama da natureza, que motivo de espanto em mim descobres, para as pálpebras não me vires cerrar, nem mergulhares meus sentidos no olvido? Por que, sono, te comprazes em choças enfumadas e em enxergões incómodos te estendes, pelo ruído embalado dos insectos nocturnos, em vez de ires para os quartos perfumados dos grandes, sob esplêndidos e faustosos dosséis, acalentado pelo som das mais suaves melodias? Ó Deus inepto, por que causa dormes com o miserável, em imundos catres, e o leito real transformas em guarita de sentinela ou sino para alarma? Nos mastros mais vertiginosos selas os olhos do grumete e lhe acalentas a cabeça nas águas imperiosas e no ímpeto dos ventos que acometem pelas cristas as ondas desalmadas e as cabeças monstruosas lhes erriçam, suspendendo-as nas nuvens fugitivas com trons de ensurdecer, a cujo estrondo desperta a própria Morte.  Podes, sono parcial, dar teu repouso ao tiritante grumete em hora assim tão rude, ao passo que na noite mais calma e silenciosa, com as solicitações mais confortantes o recusas a um rei? Dormi, portanto, tranquilos, pequeninos, que pesada sempre se encontra a fronte coroada.”
          </p>
        </div>
      </div>
    </div>
    
  </body>
</html>
