<!DOCTYPE html>
<html lang="en">
  <%- include('../components/sobre.ejs', { title: 'Pagina Sobre'}); %>
  <body>
    <%- include('../components/sobre.ejs'); %>
    <div class="content">
      <div class="about">
        
        <div class="info">
         
        </div>
      </div>
    </div>
  
  
    
    </div>
    <div class="tabela-preco">


  <div class="card-preco">
    <h3 class="card-preco-header">Básico</h3>
    <div class="preco"><sup>R$</sup>99<span>/Mês</span></div>
    <il>
      <li>Personal 2 vezes na semana</li>
      <li>Nutricionista 1 vez ao mês</li>
      <li>Médico 1 vez ao mês</li>
      <li>Academia aberta 24horas</li>
      <li>Desconto de 5% nos suplementos</li>
     
          </il>
    <a href="cadastro" class="btn">assinar</a>

  </div>


  <div class="card-preco">
    <h3 class="card-preco-header">intermediário</h3>
    <div class="preco"><sup>R$</sup>129<span>/Mês</span></div>
    <il>
      <li>Personal 3 Dias na semana</li>
      <li>Nutricionista 2 vezes ao mês</li>
      <li>Médico 2 vezes ao mês</li>
      <li>Academia aberta 24horas</li>
      <li>Desconto de 20% nos suplementos</li>
      

          </il>
    <a href="cadastro" class="btn">Assinar</a>

  </div>


  <div class="card-preco">
    <h3 class="card-preco-header">Master</h3>
    <div class="preco"><sup>R$</sup>149<span>/Mês</span></div>
    <il>
      <li>Personal 5 Dias na semana</li>
      <li>Nutricionista 3 vezes ao mês</li>
      <li>Médico 3 vezes ao mês</li>
      <li>Academia aberta 24horas</li>
      <li>Desconto de 45% nos suplementos</li>

          </il>
    <a href="cadastro" class="btn">Assinar</a>

  </div>

</div>

  </body>
</html>
